@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
}

.card {
  width: 16rem;
  background-color: transparent;
  border-color: transparent;

  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
  }
}

.card-body {
  padding: 1rem 0 0 0;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.1rem;
  text-shadow: $text-shadow-medium;

  a:hover {
    color: $primary;
  }
}

.card-text-genres {
  text-shadow: $text-shadow-light;
  font-size: 1rem;
  font-weight: 800;
}

.card-text-rating {
  text-shadow: $text-shadow-light;
  font-size: 1.1rem;
}
