<div class="card text-white">

    <a [routerLink]="['/movies', movie.key]">
        <img class="card-img-top"
             [src]="movieImgSrc"
             [alt]="movieImgAlt">
    </a>

    <div class="card-body">
        <h5 class="card-title">
            <a [routerLink]="['/movies', movie.key]">{{movie.name}}</a>
        </h5>
        <p class="card-text-genres text-capitalize text-primary">{{movie.genres | genres}}</p>
        <p class="card-text-rating">
            <fa-icon icon="star"
                     class="text-primary"></fa-icon>
            {{movie.rate}}
        </p>
    </div>

</div>