@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.view-container {
  display: flex;
  flex-direction: column;
  background-color: rgba($primary, 0.1);
  min-height: 100vh;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 9rem;
  background-color: rgba($primary, 0.4);
}

.heading-text,
.breadcrumb-nav {
  text-align: center;

  @include media-breakpoint-up(xl) {
    text-align: left;
  }
}

.heading-text {
  color: $white;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 2.2rem;
  }
}

.content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: no-repeat 50% fixed / cover
    url("/assets/images/background/background.jpg");
}
