<div class="view-container">

    <app-nav></app-nav>

    <div class="container-fluid heading-container">
        <div class="container">

            <nav aria-label="Breadcrumb navigation"
                 class="breadcrumb-nav">
                <a *ngFor="let link of breadcrumbItems; let i = index;"
                   [routerLink]="link.routerLink">
                    {{link.title}}
                    <fa-icon icon="angle-right"
                             *ngIf="i < breadcrumbItems.length-1"></fa-icon>
                </a>
            </nav>

            <h1 class="heading-text">
                {{heading}}
            </h1>

        </div>
    </div>

    <!-- CONTENT -->
    <div class="container-fluid content-container">
        <div class="container"
             [@routeFadeIn]="getRouteTitle(outletRef)">
            <router-outlet role="main"
                           #outletRef="outlet"></router-outlet>
        </div>
    </div>

</div>

<app-footer></app-footer>