@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

.nav-item {
  margin-right: 0;

  @include media-breakpoint-up(lg) {
    margin-left: 15px;
  }

  .nav-link {
    transition: color 0.25s ease-in-out;
    font-size: 1.2rem;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    &:hover:not(.active) {
      color: $primary;
    }
  }
}
