@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
  flex: 1 0 32rem;
  max-width: 44rem;

  @include media-breakpoint-down(xs) {
    flex: 1 0 20rem;
  }
}

.movie-card {
  display: flex;
  height: 19rem;
  box-shadow: $box-shadow-light;
  background-color: $bg-dark-alpha-light;

  @include media-breakpoint-down(lg) {
    flex-basis: auto;
  }

  @include media-breakpoint-only(sm) {
    height: 20rem;
  }

  @include media-breakpoint-down(xs) {
    height: 22rem;
  }
}

.movie-image {
  width: 13rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.movie-info {
  padding: 1.5rem;
  overflow: hidden;
  flex: 1 1 30rem;

  .movie-info-name {
    text-shadow: $text-shadow-medium;

    a:hover {
      color: $primary;
    }
  }

  .movie-info-genres {
    text-shadow: $text-shadow-light;
    font-weight: 800;
  }

  .movie-info-icon-group {
    span:last-child {
      margin-left: 1rem;
    }
  }

  .movie-info-desc {
    overflow: auto;
    margin-bottom: 0;
    height: 8rem;
    padding-bottom: 1rem;

    @include media-breakpoint-down(sm) {
      height: 10rem;
    }

    @include media-breakpoint-down(xs) {
      height: 12rem;
    }
  }
}
