<div class="movie-card">

    <a [routerLink]="[movie.key]">
        <div class="movie-image"
             [style.backgroundImage]="'url(' + movieImgSrc + ')'"
             role="img">
        </div>
    </a>

    <div class="movie-info">
        <h4 class="movie-info-name">
            <a [routerLink]="['/movies', movie.key]">{{movie.name}}</a>
        </h4>
        <p class="movie-info-genres text-capitalize text-primary">{{movie.genres | genres}}</p>
        <p class="movie-info-icon-group">
            <span>
                <fa-icon icon="star"
                         class="text-primary"></fa-icon>
                {{movie.rate}}
            </span>
            <span>
                <fa-icon icon="clock"
                         class="text-primary"></fa-icon>
                {{movie.length}}
            </span>
        </p>
        <hr class="hr-primary">
        <p class="movie-info-desc">
            {{movie.description}}
        </p>
    </div>

</div>