<app-movie-search [genres]="genres"
                  (searchSubmit)="onSearch($event)"></app-movie-search>

<app-movie-sorter (sortChange)="onSortChange($event)"></app-movie-sorter>

<div class="list-container">

    <div class="no-results"
         *ngIf="moviesQueryResult.items.length === 0">
        <h3 class="no-results-text">No results could be found</h3>
    </div>

    <app-movie-list-card *ngFor="let movie of moviesQueryResult.items"
                         [movie]="movie"
                         class="movie-list-card"
                         [@listChange]="listChangeAnimState">
    </app-movie-list-card>

</div>

<app-movie-paginator (pageIndexChange)="onPageChange($event)"
                     (pageSizeChange)="onPageChange($event)"
                     role="navigation"
                     aria-label="Movie results navigation"></app-movie-paginator>