@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

$gutter: 2rem;

:host {
  display: flex;
  flex-direction: column;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .no-results {
    margin: 2rem auto 0;
    padding: 1.5rem;

    .no-results-text {
      font-size: 3.75rem;
      color: $primary;
      text-shadow: $text-shadow-light;
    }
  }

  .movie-list-card {
    @include media-breakpoint-up(xl) {
      &:nth-child(n + 3) {
        margin-top: $gutter;
      }

      &:nth-child(odd) {
        margin-right: $gutter;
      }
    }

    @include media-breakpoint-down(lg) {
      &:not(:first-child) {
        margin-top: $gutter;
      }
    }
  }
}
