@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media-breakpoint-down(lg) {
    justify-content: space-around;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}
