<div class="sort-option"
     [ngClass]="{'active': activeSort === orderableKeys.name}"
     (click)="onSortMovies(orderableKeys.name)">
    <fa-icon [icon]="getSortIcon(orderableKeys.name)"
             class="text-primary"></fa-icon>
    Name
</div>

<div class="sort-option"
     [ngClass]="{'active': activeSort === orderableKeys.rate}"
     (click)="onSortMovies(orderableKeys.rate)">
    <fa-icon [icon]="getSortIcon(orderableKeys.rate)"
             class="text-primary"></fa-icon>
    Rating
</div>