@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
  margin-bottom: 2rem;

  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
  }

  @include media-breakpoint-down(xs) {
    justify-content: flex-start;
  }
}

.sort-option {
  font-size: 1.15rem;
  text-shadow: $text-shadow-light;
  cursor: pointer;

  &:last-child {
    margin-left: 1.5rem;
  }

  &:hover,
  &.active {
    color: $primary;
    text-shadow: none;
  }
}
