@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

/*
 *  Custom Theme Variables & Bootstrap Variables Override
 *  See: '..../node_modules/bootstrap/scss/_variables.scss' for a complete list of Bootstrap's variables
 */

/* Custom */
$text-light: $gray-100;
$text-dark: $gray-500;
$text-shadow-light: 1px 1px 4px $black;
$text-shadow-medium: 2px 2px 2px $black;
$bg-dark-alpha-light: rgba($dark, 0.4);
$bg-dark-alpha-medium: rgba($dark, 0.6);
$box-shadow-light: 0 4px 8px 0 rgba($black, 0.2),
  0 6px 20px 0 rgba($black, 0.19);

/* Override */
$primary: #e85109;
$theme-colors: (
  "primary": $primary
);

$body-bg: $dark;
$body-color: $white;

$font-family-base: "Montserrat";
$headings-font-family: "Oswald";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1500px
);

$pagination-color: $text-dark;
$pagination-bg: $dark;
$pagination-border-color: $dark;
$pagination-active-color: $text-light;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;
$pagination-hover-color: $primary;
$pagination-hover-bg: $dark;
$pagination-hover-border-color: $primary;
