<ul class="pagination">

    <li class="page-item"
        *ngIf="canPrevPage"
        (click)="onPageIndexChange(pageIndex - 1)"><a class="page-link">Previous</a></li>

    <li class="page-item"
        *ngFor="let pageNumber of paginatorPages"
        [ngClass]="{'active': pageNumber === pageIndex}"
        (click)="onPageIndexChange(pageNumber)">
        <a class="page-link">{{pageNumber + 1}}</a>
    </li>

    <li class="page-item"
        *ngIf="canNextPage"
        (click)="onPageIndexChange(pageIndex + 1)"><a class="page-link">Next</a></li>

</ul>

<div class="page-size-options-container">
    <label for="pageSize">Page Size</label>
    <select id="pageSize"
            class="form-control"
            [(ngModel)]="pageSize"
            (ngModelChange)="onPageSizeChange()">
        <option *ngFor="let opt of pageSizeOptions"
                [ngValue]="opt">{{opt}}</option>
    </select>
</div>