@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(sm) {
    justify-content: space-between;
  }

  @include media-breakpoint-down(xs) {
    justify-content: flex-start;
  }
}

.pagination,
.page-size-options-container {
  margin-top: 2rem;
}

.pagination {
  margin-bottom: 0;
}

.page-size-options-container {
  display: flex;
  flex: 0 0 13rem;
  align-items: flex-end;

  label {
    text-shadow: $text-shadow-light;
    width: 13rem;
  }
}
