@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
}

footer {
  flex-grow: 1;
  background-color: $dark;
  border-top: 2px solid $primary;
  padding: 80px 0 30px;

  @include media-breakpoint-down(md) {
    padding-top: 30px;
  }
}

.footer-item-container {
  padding: 0 30px;
}

.footer-item-title {
  color: $text-light;
}

.footer-item-image {
  height: 50px;
  margin-bottom: 0.5rem;
}

.footer-item-list {
  padding-left: 0;
  list-style: none;
}

.footer-item-list li,
.footer-item-paragraph {
  color: $text-dark;
}

.footer-item-list-icon-group {
  a:not(:last-child) {
    margin-right: 1rem;
  }
}

.footer-sub {
  display: flex;
  justify-content: space-between;

  small {
    color: $text-dark;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      color: $text-light;
    }

    li:first-child {
      margin-right: 15px;
    }
  }
}

.footer-item-list,
.footer-sub > ul {
  li a {
    transition: color 0.25s ease-in-out;
  }

  li a:hover:not(.active) {
    color: $primary;
  }
}
