<footer>

    <div class="container">

        <!-- FOOTER ITEMS -->
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-12 col-12 offset-xl-1 footer-item-container text-md-center">
                <img src="/assets/images/logo/logo.png"
                     alt="logo-footer"
                     class="footer-item-image">
                <p class="footer-item-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nulla euismod, maximus
                    tellus, vel metus massa ac eros.
                </p>
            </div>

            <div class="col-12 d-lg-none">
                <hr class="hr-dark">
            </div>

            <div class="col-lg-2 col-md-4 col-12 offset-xl-1 footer-item-container">
                <h6 class="footer-item-title">Resources</h6>
                <ul class="footer-item-list">
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/news">News</a></li>
                </ul>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-12 footer-item-container">
                <h6 class="footer-item-title">Legal</h6>
                <ul class="footer-item-list">
                    <li><a routerLink="/terms">Terms of Use</a></li>
                    <li><a routerLink="/policy">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-12 footer-item-container">
                <h6 class="footer-item-title">Contact Us</h6>
                <ul class="footer-item-list">
                    <li><a href="tel:0035699224466">+356 99 224 466</a></li>
                    <li><a href="mailto:support@vidly.com">support@vidly.com</a></li>
                    <li class="footer-item-list-icon-group">
                        <a href="https://facebook.com/"
                           target="_blank">
                            <fa-icon [icon]="['fab','facebook']"></fa-icon>
                        </a>
                        <a href="https://plus.google.com/"
                           target="_blank">
                            <fa-icon [icon]="['fab','google-plus-g']"></fa-icon>
                        </a>
                        <a href="https://twitter.com/"
                           target="_blank">
                            <fa-icon [icon]="['fab','twitter']"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12">
                <hr class="hr-dark">
            </div>

        </div>
        <!-- /FOOTER ITEMS -->


        <!-- FOOTER SUB TEXT -->
        <div class="footer-sub">
            <small>
                © 2018 {{appName}}
            </small>
            <ul>
                <li><a routerLink="/terms">Terms of Use</a></li>
                <li><a routerLink="/policy">Privacy Policy</a></li>
            </ul>
        </div>
        <!-- /FOOTER SUB TEXT -->

    </div>

</footer>