@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

.movie-search {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: $bg-dark-alpha-light;
  padding: 1.5rem;
  box-shadow: $box-shadow-light;
  margin-bottom: 0.5rem;

  @include media-breakpoint-down(lg) {
    justify-content: flex-end;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  .movie-search-input-group {
    flex: 0 1 16rem;

    @include media-breakpoint-down(lg) {
      flex: 1 1 14rem;
    }

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
    }

    &:not(:last-of-type) {
      @include media-breakpoint-up(lg) {
        margin-right: 3rem;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 1.5rem;
      }
    }

    &:last-of-type {
      @include media-breakpoint-up(xl) {
        margin-right: auto;
      }
    }
  }

  .movie-search-actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    .movie-search-button,
    .movie-reset-button {
      height: calc(2.25rem + 2px);

      &:not(:first-child) {
        margin-left: 1rem;
      }

      @include media-breakpoint-down(lg) {
        // margin-top: 3rem;
      }

      @include media-breakpoint-down(xs) {
        flex-grow: 1;
      }
    }

    .movie-search-button {
      width: 12rem;

      @include media-breakpoint-down(lg) {
        width: 10rem;
      }
    }

    .movie-reset-button {
      width: 8rem;

      @include media-breakpoint-down(lg) {
        width: 6rem;
      }
    }
  }
}
