<form (ngSubmit)="onSubmit()"
      [formGroup]="searchForm"
      class="movie-search"
      *ngIf="searchForm">

    <div class="movie-search-input-group">
        <label for="movieFilterName">Name</label>
        <input id="movieFilterName"
               class="form-control"
               type="text"
               placeholder="Movie Name..."
               formControlName="name">
    </div>

    <div class="movie-search-input-group">
        <label for="movieFilterGenre">Genre</label>
        <select id="movieFilterGenre"
                class="form-control"
                formControlName="genre">
            <option [ngValue]="null">None</option>
            <option *ngFor="let genre of genres"
                    [value]="genre">{{genre | titlecase}}</option>
        </select>
    </div>

    <div class="movie-search-actions">

        <button type="submit"
                class="btn btn-primary movie-search-button">Search</button>

        <button type="button"
                class="btn btn-danger movie-reset-button"
                (click)="onResetResults()">Reset</button>

    </div>

</form>