<div class="movie-details">
    <div class="movie-image"
         [style.backgroundImage]="'url(' + movieImgSrc + ')'"
         role="img">
    </div>

    <div class="movie-info">
        <h4 class="movie-info-name">{{movie.name}}</h4>
        <p class="movie-info-genres text-capitalize text-primary">{{movie.genres | genres}}</p>
        <p>
            <fa-icon icon="star"
                     class="text-primary"></fa-icon>
            {{movie.rate}}
        </p>
        <p>
            <fa-icon icon="clock"
                     class="text-primary"></fa-icon>
            {{movie.length}}
        </p>
        <hr class="hr-primary">
        <p class="movie-info-desc">
            {{movie.description}}
        </p>
    </div>
</div>

<div class="right-side">

    <iframe [src]="movieTrailerSrc | safeUrl"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="movie-trailer"></iframe>

    <div class="share-movie-panel">

        <h5>Share with friends</h5>

        <div class="share-movie-panel-icons">
            <a href="https://facebook.com/"
               target="_blank">
                <fa-icon [icon]="['fab','facebook']"></fa-icon>
            </a>
            <a href="https://plus.google.com/"
               target="_blank">
                <fa-icon [icon]="['fab','google-plus-g']"></fa-icon>
            </a>
            <a href="https://twitter.com/"
               target="_blank">
                <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </a>
        </div>

    </div>

</div>