@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

$image-height: 24rem;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-breakpoint-down(xs) {
    justify-content: center;
  }
}

.movie-details {
  display: flex;
  flex-direction: column;
  width: 19rem;
  margin-right: 1.5rem;
  box-shadow: $box-shadow-light;
  background-color: $bg-dark-alpha-light;

  @include media-breakpoint-only(xl) {
    align-items: center;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: row;
    flex-grow: 1;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  @include media-breakpoint-only(sm) {
    max-height: $image-height;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: center;
    width: 16rem;
  }

  .movie-image {
    height: $image-height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include media-breakpoint-up(xl) {
      width: 16rem;
      margin-top: 1.5rem;
    }

    @include media-breakpoint-down(xs) {
      width: 16rem;
      margin-top: 1.5rem;
      flex: 1;
    }

    @include media-breakpoint-between(sm, lg) {
      flex: 1 0 16rem;
    }
  }

  .movie-info {
    padding: 1.5rem;

    @include media-breakpoint-only(sm) {
      overflow: hidden;
    }

    .movie-info-name {
      text-shadow: $text-shadow-medium;
    }

    .movie-info-genres {
      text-shadow: $text-shadow-light;
      font-weight: 800;
    }

    .movie-info-desc {
      @include media-breakpoint-only(sm) {
        overflow: auto;
        height: 11rem;
        padding-bottom: 1.5rem;
      }
    }
  }
}

.right-side {
  display: flex;
  flex: 1 0 48rem;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    flex-basis: 32rem;
  }

  @include media-breakpoint-only(xs) {
    flex-basis: 20rem;
  }

  .movie-trailer {
    height: 38rem;
    box-shadow: $box-shadow-light;
    margin-bottom: auto;

    @include media-breakpoint-only(lg) {
      height: 32rem;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 2rem;
    }

    @include media-breakpoint-only(md) {
      height: 24rem;
    }

    @include media-breakpoint-only(sm) {
      height: 18rem;
    }

    @include media-breakpoint-down(xs) {
      height: 16rem;
    }
  }

  .share-movie-panel {
    align-self: flex-end;
    text-align: right;

    @include media-breakpoint-down(md) {
      align-self: flex-start;
      text-align: left;
    }

    @include media-breakpoint-down(xs) {
      align-self: center;
      text-align: center;
      box-shadow: $box-shadow-light;
      background-color: $bg-dark-alpha-medium;
      padding: 0.5rem;
    }

    .share-movie-panel-icons a {
      transition: color 0.25s ease-in-out;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}
