@import "src/theme/_variables.scss";
@import "~bootstrap/scss/mixins/breakpoints";

.navbar {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.2rem;

  .navbar-brand {
    img {
      height: 85px;

      @include media-breakpoint-down(lg) {
        height: 70px;
      }

      @include media-breakpoint-down(md) {
        height: 60px;
      }

      @include media-breakpoint-down(xs) {
        height: 50px;
      }
    }
  }

  &.opaque {
    background: $dark;
  }
}

.navbar-collapse {
  @include media-breakpoint-down(sm) {
    padding-top: 1.2rem;
  }
}
