<header>

    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark"
             [ngClass]="{'opaque': false}">


            <!-- LOGO -->
            <a class="navbar-brand"
               routerLink="/home">
                <img src="/assets/images/logo/logo.png"
                     alt="logo-header">
            </a>

            <!-- NAV TOGGLE -->
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#vidlyNav"
                    aria-controls="vidlyNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
                 id="vidlyNav">

                <!-- NAV ITEMS -->
                <ul class="navbar-nav ml-auto">
                    <app-nav-item navTo="/home">Home</app-nav-item>
                    <app-nav-item navTo="/about">About</app-nav-item>
                    <app-nav-item navTo="/movies">Movies</app-nav-item>
                    <app-nav-item navTo="/news">News</app-nav-item>
                    <app-nav-item navTo="/contact">Contact</app-nav-item>
                </ul>
                <!-- /NAV ITEMS -->

            </div>

        </nav>

    </div>

</header>